body{
    background-color: whitesmoke;
    
}
h1{
    color: midnightblue;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    
}
.encabezado{
    
    display: inline-flex;
    
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}
* {box-sizing:border-box}

/* Slideshow container IMPORTANTE MERGE*/
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 2px;
  }
.postTipos{
    display: none;
}
.postCuriosidades{
    display: none;
}
.menu{
    text-align: center;
}
.menu h1{
    cursor: pointer;
}
.postGaleria{
    display: none;
    position: relative;
}